<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  描述:[demo][demo]查询方法的sql文件
 @version: 0_1
 @author: AutoGenerate
 @date: 2019年9月20日
 -->
<!--指定dao -->
<mapper namespace="com.yenroc.ho.mapper.AlbumTemplatePhotoConfigDao">
	<!--查询-->
	<select id="findByTemplateId"
			useCache="true"
			parameterType="java.lang.Integer"
			resultType="com.yenroc.ho.mapper.entity.AlbumTemplatePhotoConfig">
		SELECT
			id AS id,
			album_template_id AS albumTemplateId,
			photo_config_name AS photoConfigName,
			photo_desc AS photoDesc,
			photo_width AS photoWidth,
			photo_height AS photoHeight,
			created_by AS createdBy,
			created_date AS createdDate,
			last_modified_by AS lastModifiedBy,
			last_modified_date AS lastModifiedDate,
			is_del AS isDel
		FROM
			album_template_photo_config
		<where>
			(IS_DEL = 0 OR IS_DEL IS NULL)
			and album_template_id = #{albumTemplateId, jdbcType=INTEGER}
		</where>
	</select>

</mapper>