<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  描述:[demo][demo]查询方法的sql文件
 @version: 0_1
 @author: AutoGenerate
 @date: 2019年9月20日
 -->
<!--指定dao -->
<mapper namespace="com.yenroc.ho.mapper.DemoDao">
	<!--查询-->
	<select id="BookMarksQuery01"
			useCache="true"
			parameterType="com.yenroc.ho.blogic.restDto.bookmarks.BookMarksReqt"
			resultType="com.yenroc.ho.blogic.sqlDto.bookmarks.BookMarksSQL01OM">
		SELECT
			t1.name AS folderName,
			t1.svg AS folderSvg,
			t2.*
		FROM
		bookmarksFolder t1
		INNER JOIN bookmarks t2 ON t2.folderId = t1.id
		<if test="userId != null and userId != ''">
			AND t2.id not in (SELECT id FROM bookmarks_exclude WHERE userId = '17621421619')
		</if>
		where
		<if test="userId != null and userId != ''">
			(userId = 'public' or userId = '17621421619')
		</if>
		<if test="userId == null">
			userId = 'public'
		</if>
		ORDER BY t1.orderIndex DESC,t2.orderIndex DESC
    </select>
</mapper>