<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  描述:[demo][demo]查询方法的sql文件
 @version: 0_1
 @author: AutoGenerate
 @date: 2019年9月20日
 -->
<!--指定dao -->
<mapper namespace="com.yenroc.ho.mapper.AlbumInstanceDao">
	<!--查询-->
	<select id="finByUserId"
			useCache="true"
			parameterType="java.lang.Integer"
			resultType="com.yenroc.ho.mapper.entity.AlbumInstance">
		SELECT
			id AS id,
			album_name AS albumName,
			album_desc AS albumDesc,
			album_template_id AS albumTemplateId,
			private_view AS privateView,
			private_key AS privateKey,
			created_by AS createdBy,
			created_date AS createdDate,
			last_modified_by AS lastModifiedBy,
			last_modified_date AS lastModifiedDate,
			is_del AS isDel
		FROM
			album_instance
		<where>
			(IS_DEL = 0 OR IS_DEL IS NULL)
			and user_id = #{userId, jdbcType=VARCHAR}
		</where>
	</select>

</mapper>