<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${userName} + 个性相册"></title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=2" />-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/layui.all.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/layui.min.js"></script>
    <script src="https://www.jq22.com/jquery/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/base/css/upload-img.css">

    <style>
        html {
            font-family: Lato;
            font-weight: 200;
            font-size: 1em;
            text-align: center;
            color: #ddd;
            min-height: 100%;
            background: #092756;
            background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -o-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
        }

        html body {
            padding: 50px;
        }

        h1 span, h2 span, h3 span {
            font-family: Montez;
            font-size: 1.9em;
            font-weight: 300;
            margin: 0 0.3em;
            color: #ff0080;
        }

        h1 {
            font-size: 2em;
            width: 900px;
            margin: 0 auto 1em;
            text-shadow: 0 1px 1px black;
        }

        p {
            padding: 5px 10px;
            display: inline-block;
            margin: 10px auto;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <h1>制作属于 <span th:text="${userName}"></span> 的个性相册!</h1>
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">
            <h2>相册信息</h2>
            <form id="albumForm">
                <input id="albumId" hidden name="albumId" th:value="${albumInfo.id}">
                <input hidden name="albumTemplateId" th:value="${albumInfo.albumTemplateId}">
                <input hidden name="userId" th:value="${albumInfo.userId}">

                <div class="form-group">
                    <label>相册名称:</label>
                    <input type="text" class="form-control" name="albumName" th:value="${albumInfo.albumName}">
                </div>
                <div class="form-group">
                    <label>相册描述:</label>
                    <input type="text" class="form-control" name="albumDesc" th:value="${albumInfo.albumDesc}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" name="privateView" th:value="${albumInfo.privateView}"
                                   th:checked="${albumInfo.privateView}eq '1'">
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="仅自己可见">
                </div>
                <div class="form-group">
                    <label>选择展示方式:</label>
                    <select class="form-control" name="albumStyleCss" >
                        <option th:each="albumStyleCss :${albumStyleCssList}"
                                th:value="${albumStyleCss.optionValue}"
                                th:selected="${albumStyleCss.optionValue eq albumInfo.albumStyleCss}"
                                th:text="${albumStyleCss.optionName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>设置相册背景音乐:</label>
                    <input class="form-control" list="musicOptions" name="musicId" id="musicInput">
                    <datalist id="musicOptions">
                    </datalist>
                </div>

            </form>
            <button type="button" onclick="submit()" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-9" style="background-color:lavenderblush;">
            <div id="app" class="container" v-cloak>
                <div class="uploading-data" v-if="isUploading"></div>
                <div class="upload-img-column">
                    <div class="text-muted" id='words'>上传图片</div>
                    <div class="upload-wrap">

                        <template  v-for="(imgItem, imgIndex) in tempPhotoList" > <!-- v-for="(imgItem, imgIndex) in tempPhotoList" -->
                            <div class="box" style="width: 20%">
                                <label class="p dotted" v-if="imgItem.fileName == null">
                                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file"
                                           @change="onChooseImage($event, imgIndex)"/>
                                    <img src="/base/images/jiahao.png" alt="">
                                </label>
                                <div class="p" v-else>
                                    <img :src="imgItem.photoUrl">
                                    <div class="delete" @click.stop="deleteImg(imgIndex)">
                                        <img src="/base/images/guanbi.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var root_url = "";
    albumInfo = /*[[${albumInfo}]]*/ {};
    photoList = albumInfo.albumPhotoVoList;
    function submit() {
        var data={};
        var formArray = $('#albumForm').serializeArray();
        $.each(formArray, function(index, field) {
            data[field.name] = field.value; //通过变量，将属性值，属性一起放到对象中
        });
        data['privateView'] =  $("[name='privateView']").prop('checked') ? 1:0;// 是否开放
        data['albumPhotos'] = photoList;
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/api/album/createOrUpdate" ,//url
            data: JSON.stringify(data),
            headers: { "Content-Type": "application/json;charset=utf-8" },
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.responseCode === '200') {
                    $("#albumId").val(result.dataResult.albumId);
                    alert("submit success..");
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    $("#musicInput").bind('input propertychange',function(){
        axios({
            method: "GET",
            url: root_url + "/api/music163/queryMusicName?musicName=江南"
        }).then(function (result) {
            var res = result.data;
            console.log(res);
            debugger
            if (res.responseCode == '200') {
                var songs = res.dataResult.result.songs;
                for (var i = 0; i < songs.length; i++) {
                    var item = songs[i];
                    $("#musicOptions").append('<option label="' + item.name + '" value="' + item.id + '"></option>');
                    debugger
                }
            }

        });
    });
    function debounce(method,delay){
        var timer = null;
        return function(){
            var context = this,args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function(){
                method.apply(context,args);
            },delay);
        }
    }


    var app = new Vue({
        el: '#app',
        data: {
            tempPhotoList: photoList, //图片临时路径列表
            isUploading: false //是否正在上传,在上传的时候遮罩

        },
        watch: {},
        methods: {
            //选择图片
            onChooseImage: function (event, idx) {
                var that = this;
                //使用FileReader对文件对象进行操作
                var reader = new FileReader();
                reader.readAsDataURL(event.target.files[0]); //将读取到的文件编码成Data URL
                reader.onload = function () { //读取完成时
                    var replaceSrc = reader.result; //文件输出的内容

                    //调用图片压缩处理方法
                    that.compressedImage({
                        src: replaceSrc,
                        quality: 0.8,
                        success: function (src) {
                            //将压缩后的路径 追加到临时路径数组中
                            // that.tempPhotoList[idx].data = src;
                            // 直接进行文件上传
                            that.isUploading = true;
                            var files = that.dataURLtoFile(src, 'pj' + Date.now() + '.jpg'); //压缩后的数据转成文件
                            var formdata = new FormData();
                            formdata.append('file', files);
                            axios({
                                method: "POST",
                                url: root_url + "/api/file/upload", // 相册映射的照片id
                                data: formdata,
                                headers: {
                                    "Content-Type": "multipart/form-data; boundary=----WebKitFormBoundary7YqBcDwUevoFodcf"
                                }
                            }).then(function (res) {
                                if (res.data.responseCode === '200') {
                                    that.tempPhotoList[idx].fileName = res.data.dataResult;
                                    var photoInstance = that.tempPhotoList[idx];
                                    // 调用接口更新相册实例
                                    axios({
                                        method: "POST",
                                        url: root_url + "/api/album/photoUpdate", // 相册映射的照片id
                                        data: JSON.stringify(photoInstance),
                                        headers: { "Content-Type": "application/json;charset=utf-8" }
                                    }).then(function (res) {
                                        console.log("上传图片成功" + res);
                                        that.tempPhotoList[idx].photoUrl = res.data.dataResult.photoUrl;
                                        that.tempPhotoList[idx].fileId =res.data.dataResult.fileId;
                                    })
                                }
                                that.isUploading = false;
                            }).catch(function (error) {
                                console.error(error);
                            });
                        }
                    });
                };
            },

            //删除某张图片
            deleteImg: function (idx) {
                var that = this;
                photoList[idx].fileId=null;
                photoList[idx].fileName=null;
                photoList[idx].photoUrl=null;
            },

            /**
             * 压缩图片处理
             * @src 需要压缩的图片base64路径
             * @quality 图片质量 0-1，默认1
             * @success()  成功后的回调
             * */
            compressedImage: function (params) {
                var that = this;

                var initParams = {
                    src: params.src || "",
                    quality: params.quality || 1
                };
                var image = new Image();
                image.src = initParams.src;
                image.onload = function () {
                    //获取图片初始宽高
                    var width = image.width;
                    var height = image.height;
                    //判断图片宽度，再按比例设置宽度和高度的值
                    if (width > 1024) {
                        width = 1024;
                        height = Math.ceil(1024 * (image.height / image.width));
                    }

                    //将图片重新画入canvas中
                    var canvas = document.getElementById("compressCanvas");
                    if(!canvas){ //如果没有压缩用的canvas 就创建一个canvas画布
                        var body = document.body;
                        canvas = document.createElement("canvas"); //创建canvas标签
                        canvas.id = "compressCanvas"; //给外层容器添加一个id
                        canvas.style.position = "fixed";
                        canvas.style.zIndex = "-1";
                        canvas.style.opacity = "0";
                        canvas.style.top = "-100%";
                        canvas.style.left = "-100%";
                        body.append(canvas);
                    }

                    var context = canvas.getContext("2d");
                    canvas.width = width;
                    canvas.height = height;
                    context.beginPath();
                    context.fillStyle = "#ffffff";
                    context.fillRect(0, 0, width, height);
                    context.fill();
                    context.closePath();
                    context.drawImage(image, 0, 0, width, height);
                    var replaceSrc = canvas.toDataURL("image/jpeg", initParams.quality); //canvas转DataURL(base64格式)

                    params.success && params.success(replaceSrc);
                };
            },

            /**
             * 将base64转换为文件
             * @dataUrl base64路径地址
             * @fileName 自定义文件名字
             * */
            dataURLtoFile: function (dataUrl, fileName) {
                var arr = dataUrl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new File([u8arr], fileName, {type: mime});
            }
        }
    });
</script>

</body>
</html>